.calculator__input {
    z-index: 100;
    min-height: calc(var(--calc-width) / 3);

    display: flex;
    align-items: center;
}

.calculator__input--text {
    width: 100%;
    padding-right: 1rem;

    word-break: break-all;
    max-lines: 3;

    font-size: calc(var(--calc-btn-width) / 10 * var(--calc-btn-col-count));
    text-align: right;
    color: white;
}
