:root {
    --calc-width: 500px; /* Calculator width */
    --calc-btn-col-count: 4; /* Specifies number of buttons in a row */
    --calc-btn-width: 120px; /* Calculator button width */
    /* Gap between Calculator buttons */
    --calc-btn-gap: calc((var(--calc-width) - calc(var(--calc-btn-col-count) * var(--calc-btn-width))) / var(--calc-btn-col-count));

    --calc-bg: rgb(31, 31, 31);
    --btn-number: rgb(6, 6, 6);
    --btn-number-border: rgb(10, 10, 10);
    --btn-action: rgb(16, 16, 16);
    --btn-calculate: rgb(63, 69, 78);
    --btn-action-border: rgb(20, 20, 20);
    --btn-text: rgb(216, 216, 216);
}

.calculator {
    min-width: var(--calc-width);

    width: min-content;

    background: var(--calc-bg);
}

.calculator__input {
    z-index: 100;
    min-height: 200px;
    font-size: 24px;
    color: white;
}

